.card {
  width: 280px;
  height: 450px;
  list-style-type: none;
  box-sizing: border-box;
  padding: 20px;
  font-size: var(--s-font-size);
}

.imageCnt {
  width: 100%;
  height: 60%;
  position: relative;
}

.category {
  height: 5%;
  text-decoration: underline;
  opacity: .8;
}

.name {
  flex-grow: 1;
  font-weight: bold;
}

.author {
  height: 5%;
  opacity: .8;
}