.form {
  width: 30%;
  min-width: min-content;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.searchInput {
  width: 100%;
}

.filters {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filter {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.filterName {
  margin: 0;
}